.counter{
    background-color: $mainColor2;
    color: $mainColor4;
    margin-top: -100px;
    margin-bottom: 55px;
    // padding: ;
    border-radius: 12px;
    .counter__head{
        font-family: $font1;
        font-size: 30px;
        font-weight: bold;
        line-height: 1.17;
        text-align: left;
        span {
        color: $mainColor1;
        }
    }
    .countdown--num{
        display: flex;
        justify-content: center;
        align-items: center;
        .countdown__num{
            font-family: $font2;
            font-weight: bold;
            color: $mainColor4;
            line-height: 1.3;
            text-align: center;
            margin-bottom: 0;
        }
        .countdown__semi-coloms{
            align-items: center;
            justify-content: center;
            display: flex;
            padding: 15px;
            font-size: 30px;
        }
    }
    .countdown--name{
        display: flex;
        justify-content: space-evenly;
        .countdown__name{
            font-family: $font2;
            font-size: 14px;
            padding: 10px;
            margin-#{$start}: 10px;
        }
    }
}

