.main-footer{
    background-color: $mainColor2;
    color: $mainColor4;
    padding-top: 72px;
    .main-footer__contact-info{
        display: flex;
        flex-direction: column;
        .main-footer__contact-info__links{
            display: flex;
            flex-direction: column;
            margin-top: 20px;
            a{
                margin: 10px 0;
            }
            h5{
                font-family: $font2;
                font-size: 20px;
                font-weight: bold;
                line-height: 1.8;
                text-align: left;
                color: $mainColor4;
            }
        }
        .main-footer__contact-info__title{
        display: flex;
        align-items: center;
        h4{margin-bottom: 0;}
        }
    }
    .main-footer__links{
        h5{
            font-weight: bold;
            font-size: 20px;
        }
        .main-footer__links--edit{
                    display: flex;
                    flex-direction: column;
                    font-family: $font2;
                    line-height: 2.25;
                    text-align: left;
                    a{
                        font-size: 16px;
                        margin: 5px 0 ;
                    }
                }
    }
    
    .main-footer__copyright{
        background-color: $mainColor1;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 15px 35px;
        margin-top: 30px;
        a{
            margin: 0 8px;
            color: #212529;
            font-size: 23px;
        }
        p{
            font-family: $font2;
            font-size: 15px;
            text-align: left;
            color: $mainColor2;
            margin-bottom: 0;
        }
    }
}
@media only  screen and (max-width:767px) {
    .main-footer{
        .main-footer__contact-info__title{
            justify-content: center;
        }
        .main-footer__contact-info__links{
            text-align: center;
        }
        .main-footer__copyright{
            flex-direction: column;
            p{
                margin-bottom: 15px;
            }
           
        }
        .main-footer__links{
            margin-top: 40px;
            h5{
                // text-align: center;
                margin: 10px 0 ;
            }
            .main-footer__links--edit{
                // flex-direction: row;
                // justify-content: space-around;
                // flex-wrap: wrap;
                a{
                    // padding: 8px;
                    // margin: 0;
                }
            }
        }
        
    }
    
}