.main-header{
    background-color: $mainColor3;
    padding-bottom: 265px;
    .main-header__title{
        font-family: $font2;
        font-weight: bold;
        color:$mainColor2;
    }
    .main-header__brief{
        font-family: $font1;
        line-height: 1.3;
        color: #002147;
    }
    .main-header__quote-btn{
        @extend.my-btn;
        margin-right: 8px;
        padding: 9px 25px;
    }
    
    .main-header__read-more-btn{
        background-color: $mainColor4;
        border: 1px soloid $mainColor4;
        color: $mainColor2;
        padding: 9px 25px;
        &:hover{
            background-color: $mainColor1;
        }
    }
}