@font-face {
    font-family:inter ;
    src: url(../../CSS/fonts/inter-regular.otf);
}
@font-face {
    font-family:georgia-bold ;
    src: url(../../CSS/fonts/georgia-bold.ttf);
}

$mainColor1:#fdc800;
$mainColor2:#002147;
$mainColor3:#f0f4f9;
$mainColor4:#fff;
$font1:georgia-bold;
$font2:inter;
$transtion:.5s;
