@font-face {
    font-family: 'inter-regular';
    src: url('fonts/inter-regular-font/inter-regular.eot');
    src: url('fonts/inter-regular-font/inter-regular.otf');
    src: url('fonts/inter-regular-font/inter-regular.svg');
    src: url('fonts/inter-regular-font/inter-regular.ttf');
    src: url('fonts/inter-regular-font/inter-regular.woff');
    src: url('fonts/inter-regular-font/inter-regular.woff2');
}

@font-face {
    font-family: 'georgia-regular-font';
    src: url('fonts/georgia-font/georgia-regular-font.eot');
    src: url('fonts/georgia-font/georgia-regular-font.otf');
    src: url('fonts/georgia-font/georgia-regular-font.svg');
    src: url('fonts/georgia-font/georgia-regular-font.ttf');
    src: url('fonts/georgia-font/georgia-regular-font.woff');
    src: url('fonts/georgia-font/georgia-regular-font.woff2');
}

$georgiaFont:'georgia-regular-font';
$interFont:'inter-regular';
$colorYellow:#fdc800;
$colorBlue:#002147;
$colorBackground:#f0f4f9;
$colorWhite:#fff;
$colorLight: #bdbdbd