
@import './Abstract/variables';
@import './Component/generic-components';
@import './Layout/upper-navbar';
@import './Layout/main-navbar';
@import './Layout/main-header';
@import './Layout/counter';
.top-courses{
    margin-bottom: 170px;
    .col--edit{
        padding: 0 13px;
        margin-bottom: 30px;
    }
    .top-courses__head {
        font-family: $font1;
        font-size: calc(42px + ((48 - 42 )*((100vw - 1366px)/(1920 - 1366))));
        font-weight: bold;
        line-height: 1.63;;
        color: $mainColor2;
        margin-bottom: 27px


    }
}
@media only screen and (max-width:768px) {
    .top-courses{
        margin-bottom: 75px;
        .top-courses__head{
            font-size: calc(28px + ((34 - 28 )*((100vw - 320px)/(1366 - 320))));
        }
    }
}
@import './Component/my-card.scss';
@import './Layout/success-students';
@import './Layout/_visitors';
@import './Layout/subscribe-now';
@import './Layout/main-footer';






