.card-details {
  margin-bottom: 60px;

  .row-edit {
    margin-top: -282px;
    margin-bottom: 36px;

    .card-details__img {
      height: 100%;

      // margin-bottom: 36px;
      .img {
        height: 100%;
        width: 100%;
      }
    }




    .card-details__course-brief {
      border: 1px solid #bdbdbd;
      border-radius: 6px;
      background-color: $colorWhite;
      padding: 15px 0 13px 0;
      height: 100%;

      .card-details__course-brief__list {
        margin-bottom: 25px;

        .card-details__course-brief__list-item {
          padding: 12px 21px 7px;
          font-family: $interFont;
          font-size: 16px;
          line-height: 1.13;
          color: #212529;
        }
      }

      .card-details__course-brief__contact-mail {
        text-align: center;
        display: block;

        .card-details__course-brief__contact-mail__span {
          font-family: $interFont;
          font-size: 14px;
          line-height: 1.36;
          color: #bdbdbd;
          display: block;
        }

        .card-details__course-brief__contact-mail__link {
          font-family: $interFont;
          font-size: 14px;
          line-height: 1.36;
          color: #00b2b2;
          font-weight: bold;
        }
      }

      .card-details__course-brief__img {
        text-align: center;
        margin-bottom: 55px;
      }
    }
  }

  .card-details__brief {
    .card-details__brief__header {
      font-family: $georgiaFont;
      font-size: calc(28px + ((36 - 28) * ((100vw - 1366px) / (1920 - 1366))));
      font-weight: bold;
      line-height: 0.67;
      color: $colorBlue;
      margin-bottom: 16px;
    }

    .card-details__brief__paragraph {
      font-family: $interFont;
      font-size: 16px;
      line-height: 1.5;
      color: #212529;

      &:last-child {
        margin-bottom: 500px;
      }
    }

    .card-details__brief__list {
      list-style: none;

      .card-details__brief__list__item {
        font-family: $interFont;
        font-size: 16px;
        line-height: 1.5;
        color: #212529;
        margin-bottom: 7px;
        display: flex;

        // align-items: center;
        &::before {
          content: "✓";
          margin-right: 17px;
          font-size: 22px;
          color: #00b2b2;
        }

        p {
          margin-bottom: 0;
        }
      }
    }
  }

  .card-details__purchase-btn {
    background-color: $colorYellow;
    color: $colorBlue;
    padding: 13px 70px;
    min-width: 130px;
    font-size: 22px;
    transition: .5s;

    &:hover,
    &:focus {
      box-shadow: inset 280px 0 0 0 $colorBlue;
      border: 1px solid $colorBlue;
      color: #fff;
      transition: .5s;

    }
  }
}

@media only screen and (max-width:768px) {
  .card-details {
    .row-edit {
      .col-8--edit {
        margin-bottom: 20px;
      }
    }

    .card-details__brief {
      .card-details__brief__header {
        font-size: calc(25px + ((31 - 25) * ((100vw - 320px) / (1366 - 320))));
      }

      .card-details__brief__paragraph {
        font-size: 14px;
      }
    }
  }
}