html{
    font-size: 16px;
    body{height: 3000px;}
}
img{
    max-width: 100%;
}
a{
    text-decoration: none;
    color: inherit;
    &:hover{
        color: inherit;
    }
}
.btn:focus{box-shadow: none;}
.flex-center{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}
.my-btn{
    background-color: $mainColor1;
    border: 1px solid $mainColor1;
    font-family: $font2;
    color: $mainColor2;
}
@media only  screen and (min-width:1366px) {
    .container, .container-lg, .container-md, .container-sm, .container-xl{
        max-width: 1170px;
        padding: 0;
    }
}