.main-header {
    background-color: $colorBackground;
    padding-bottom: 163px;

    .main-header__wrapper {
        margin-top: 20px;
    }

    .main-header__title {
        font-size: calc(30px + ((36 - 30) * ((100vw - 1366px)/(1920 - 1366))));
        font-family: $interFont;
        font-weight: bold;
        color: $colorBlue;
        line-height: 2.6;
    }

    .main-header__brief {
        font-size: calc(60px + ((66 - 60) * ((100vw - 1366px)/(1920 - 1366))));
        font-family: $georgiaFont;
        line-height: 1.3;
        color: #002147;
        margin-bottom: 12px
    }

    .main-header__quote-btn {
        @extend.my-btn;
        margin-right: 10px;
        padding: 15px 25px;
        line-height: 1.31;
        min-width: 120px;
    }

    .main-header__read-more-btn {
        background-color: $colorWhite;
        border: 1px solid #bdbdbd;
        color: $colorBlue;
        padding: 16px 25px;
        min-width: 120px;
        line-height: 1.31;
    }

    // .outer {
    //     position: relative;
    //     &:before {
    //     display: block;
    //     content: "";
    //     width: 100%;
    //       padding-top: (16 / 9) * 100%;
    //     }
    //     > .inner {
    //     position: absolute;
    //     top: 0;
    //     right: 0;
    //     bottom: 0;
    //     left: 0;
    //     }
    // }
}

@media only screen and (max-width:768px) {
    .main-header {
        .main-header__title {
            font-size: calc(18px + ((24 - 18) * ((100vw - 320px)/(1366 - 320))));
        }

        .main-header__brief {
            font-size: calc(28px + ((34 -28) * ((100vw - 320px)/(1366 - 320))));
        }
    }

}

@media only screen and (min-width:1365px) {
    .main-header {

        .main-header__quote-btn,
        .main-header__read-more-btn {
            padding: 14px 50px;
        }

        .main-header__title {
            margin-bottom: -15px;
        }
    }
}

@media only screen and (min-width:1440px) {
    .main-header {
        .main-header__title {
            margin-bottom: -30px;
        }
    }
}