@media only screen and (max-width:1920px){

}
@media (min-width: 1366px) and (max-width:1920px ) {

    html{
        font-size: calc(16px + 6 *((100vw - 1366px )/554));
        
    }
}
@media only screen and (max-width:1366px){

}
@media (min-width: 319px) and (max-width: 1366px) {

    html{
        font-size: calc(16px + 6 *((100vw - 320px )/1046));
    }
}
@media only screen and (max-width:1024px){

    .upper-navbar{
        .upper-navbar__info{
            display: flex;
            flex-direction: column;
            .upper-navbar__info__link{
                margin-#{$end}:0;
                margin-bottom: 10px;
                
            }
            .upper-navbar__social{
                display: flex;
                align-items: center;
                justify-content: center;
            }
        }
    }
}
@media only screen and (max-width:991px){
    
}

@media only screen and (max-width:767px){
    .upper-navbar{
        .upper-navbar--postion{
            flex-direction: column;
            text-align: center;
    }
        .upper-navbar__info{
            display: flex;
            flex-direction: column;
            .upper-navbar__info__link{
                margin-#{$end}:0;
                margin-bottom: 10px;
                font-size: 13px;
            }
            
        }
    }
}