@media only screen and (max-width:1920px){

}
@media (min-width: 1366px) and (max-width:1920px ) {

}
@media only screen and (max-width:1366px){

}
@media (min-width: 320px) and (max-width: 1366px) {

}
@media only screen and (max-width:1024px){
    .upper-navbar{
        .upper-navbar__info{
            display: flex;
            flex-direction: column;
            .upper-navbar__info__link{
                margin-#{$end}:0;
                margin-bottom: 10px;
            }
            .upper-navbar__social{
                display: flex;
                align-items: center;
                justify-content: center;
            }
        }
    }
}
@media only screen and (max-width:991px){
    
}

@media only screen and (max-width:767px){
    .upper-navbar{
        .upper-navbar--postion{
            flex-direction: column;
            text-align: center;
        }
        .upper-navbar__info{
            display: flex;
            flex-direction: column;
            .upper-navbar__info__link{
                margin-#{$end}:0;
                margin-bottom: 10px;
                font-size: 13px;
            }
            
        }
    }
    .main-navbar{
        .navbar-brand{
            margin-#{$end}: 0;
        }
    }
    .flex-center{flex-direction: column;}
    .students{
        .row-students{flex-direction: column;}
    }
}
@media (min-width: 1400px){
    .container, .container-lg, .container-md, .container-sm, .container-xl, .container-xxl{
        max-width: 1190px;
    }
}
