.my-card {
    height: 100%;
    display: flex;
    flex-direction: column;
    border: 1px solid #bdbdbd;
    border-radius: 6px;
    background-color: $colorWhite;
    position: relative;
    transition: .3s;

    .my-card__image {
        width: 100%;
        position: relative;
        margin-bottom: 30px;
        border-radius: 6px;

        img {
            width: 100%;
        }

    }

    .my-card__small-img {
        background-color: #f0f4f9;
        padding: 5px;
        position: absolute;
        bottom: -15px;
        left: 16px;
    }

    .my-card__body {
        padding: 8px;
    }

    .my-card__title {
        font-family: $interFont;
        font-weight: bold;
        line-height: 1.2;
        color: $colorBlue;
        font-size: 20px;
        font-size: calc(14px + ((20 - 14)*((100vw - 1366px)/(1920 - 1366))));
    }

    .my-card__paragraph {
        font-family: $interFont;
        font-size: 14px;
        line-height: 1.71;
        color: #757575;
    }

    .card-page-link-overlay {
        position: absolute;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
    }

    &:hover {
        transform: translateY(-15px);
        transition: .3s;
    }
}

.outer {
    position: relative;

    &:before {
        display: block;
        content: "";
        width: 100%;
        padding-top: 56.25%;
        // padding-top: math.div(9, 16)
    }

    >.inner {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
    }
}

@media only screen and (max-width:991px) {
    .my-card {
        .my-card__title {
            font-size: calc(14px + ((20 - 14)*((100vw - 320px)/(1366 - 320))));
        }
    }
}