.up {
  position: fixed;
  bottom: 10px;
  right: -40px;
  background-color: $colorYellow;
  color: $colorBlue;
  padding: 5px;
  border-radius: 4px;
  cursor: pointer;
  img {
    width: 25px;
  }
 
}
.up.active{
    right: 15px;
  
}