.search-fixed-div {
  background-color: #eee;
  position: fixed;
  width: 100%;
  height: 100%;
  z-index: 5000;
  padding: 100px 20px;
  display: none;

  top: 48px;

  .search-form {
    background-color: #eee;
    position: relative;

    .search-form__input {
      width: 100%;
      padding: 20px;
      outline: 0;
      border: 2px solid #eee;
      font-size: 18px;
      border-radius: 10px;
    }

    .search-form__submit-btn {
      position: absolute;
      right: 10px;
      top: 10px;
      font-size: 24px;
    }

    .search-form__close-btn {
      position: absolute;
      left: 20px;
      top: -70px;
      font-size: 35px;
      border: 0;
      outline: 0;
      color: $colorBlue;
    }
  }
}

.search-fixed-div.active {
  display: block;
  transition: .25s ease-in-out;
}