.students {
    margin-bottom: 110px;

    .students__picture {
        position: relative;
        margin-#{$start}: 30px;

        .students__picture__main-pic {
            height: 100%;
        }

        .students__top-left-img {
            position: absolute;
            top: -35px;
            left: -30px;
        }

        .students__bottom-img-text {
            background-color: $colorWhite;
            position: absolute;
            margin: auto;
            text-align: center;
            bottom: -30px;
            border-radius: 6px;
            box-shadow: 0 4px 43px 0 rgba(0, 0, 0, 0.03);
            width: 73%;
            margin-#{$start}: 13%;
            padding: 8px 0 15px;

            .students__bottom-img-text__head1 {
                font-size: 20px;
                margin-top: 4px;
                margin-bottom: 0;
                font-family: $interFont;
                font-weight: bold;
                line-height: 1.2;
                text-align: center;
                color: #212529;
            }

            .students__bottom-img-text__head2 {
                margin: 0;
                font-family: $interFont;
                line-height: 1.71;
                text-align: center;
                color: #757575;
                font-size: 14px;
            }
        }
    }

    .students__brief {
        .students__brief__main-head {
            font-size: calc(48px + ((60 - 48)*((100vw - 1366px)/(1920 - 1366))));
            font-family: $georgiaFont;
            font-weight: bold;
            line-height: 1.25;
            color: $colorBlue;

            span {
                color: $colorYellow;
            }
        }

        .students__brief__paragraph {
            font-family: $interFont;
            font-size: 14px;
            line-height: 1.5;
            color: #212529;
            margin-bottom: 35px;
        }

        .students__brief__sec-head {
            font-family: $interFont;
            font-size: 16px;
            font-weight: bold;
            line-height: 1.5;
            color: $colorBlue;
        }
    }

    .students__brief__card {
        border-radius: 6px;
        background-color: #f0f4f9;
        align-items: center;
        padding: 17px;
        margin-left: 65px;
        position: relative;

        .students__brief__card-img {
            position: absolute;
            left: -65px;

            img {
                width: 80px;
                height: 80px;
                border-radius: 6px;
            }

        }

        .students__brief__card-info {
            margin-left: 24px;

            h5 {
                font-family: $interFont;
                font-size: 16px;
                font-weight: bold;
                line-height: 1.5;
                color: $colorBlue;
            }

            h6 {
                font-family: $interFont;
                font-size: 14px;
                line-height: 1.71;
                color: #757575;
            }
        }
    }
}

@media only screen and (max-width:768px) {
    .students {
        .students__picture {
            margin-bottom: 75px;

            .students__picture__main-pic {
                width: 100%;
            }
        }

        .students__bottom-img-text {
            margin-bottom: 40px;
        }

        .students__brief__card {
            .students__brief__card-info {
                h5 {
                    font-size: calc(12px + ((16 - 12)*((100vw - 320px)/(1366 - 320))));
                }

                h6 {
                    font-size: calc(10px + ((14 - 10)*((100vw - 320px)/(1366 - 320))));
                }
            }
        }
    }
}

@media (min-width: 769px) and (max-width: 991px) {
    .students {
        .students__picture {
            margin-bottom: 75px;

            .students__bottom-img-text {
                margin-#{$start}: calc((100% - 92%) / 2);
            }
        }
    }
}

@media only screen and (min-width:1920px) {
    .students {
        .students__brief {
            .students__brief__main-head {
                font-size: 60px;
            }
        }
    }
}