.visitors {
    // background-color: $colorBackground;
    padding: 100px 0;
    background-image: url('../images/Group\ 57.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;

    .course-published {
        display: flex;
        flex-direction: column;
        align-items: center;
        // padding: 20px 0;
        height: 100%;
        justify-content: space-between;

        .img-wrapper {
            margin-bottom: 40px;
        }

        .course-published__count {
            font-family: $georgiaFont;
            font-weight: bold;
            line-height: 1;
            color: $colorBlue;
            padding: 10px 0;
            font-size: calc(48px + ((60 - 48) * ((100vw - 1366px) / (1920 - 1366))));
        }

        .course-published__name {
            font-family: $interFont;
            font-weight: bold;
            line-height: 1.5;
            color: #00b2b2;
            font-size: 16px;
        }
    }
}

@media only screen and (max-width:768px) {
    .visitors {
        .course-published {
            .course-published__name {
                font-size: 14px;
            }
        }
    }
}