.listing-page__header{
  background-color: $mainColor3;
  padding-bottom: 390px;
  .listing-page__header__first-head{
    font-family: $font2;
    font-size: 16px;
    font-weight: bold;
    line-height: 3.75;
    text-align: left;
    color: $mainColor1;
    margin-bottom: -15px;
  }
  .listing-page__header__second-head{
    font-family: $font1;
    font-size: calc(42px + ((48 - 42 ) * ((100vw - 1366px) / (1920 - 1366 )) ));
    font-weight: bold;
    line-height: 1.25;
    text-align: left;
    color: $mainColor2;
  } 
}