@font-face {
  font-family: 'Inter-VariableFont_slnt,wght';
  src: url(./Inter-VariableFont_slnt%2Cwght.eot);
  src: url(./Inter-VariableFont_slnt%2Cwght.eot?#iefix) format('embedded-opentype'),
       url(./Inter-VariableFont_slnt%2Cwght.otf) format('otf'),
       url(./Inter-VariableFont_slnt%2Cwght.svg#Inter-VariableFont_slnt%2Cwght) format('svg'),
       url(./Inter-VariableFont_slnt%2Cwght.ttf) format('truetype'),
       url(./Inter-VariableFont_slnt%2Cwght.woff) format('woff'),
       url(./Inter-VariableFont_slnt%2Cwght.woff2) format('woff2');
}
