@import '../Component/card-details.scss';










.card-page{
  .card-page-students{
    background-color: $colorBackground;
    padding: 114px 0;
    .students{
      margin-bottom: 0;
      .students__brief__card{
        background-color: $colorWhite;
      }
    }
  }
  .page-title--card-page{
    padding-bottom: 310px;
  }
}
@media only screen and (min-width:768px) {
  .card-page{
    .page-title{
      .page-title__second-head{
        width: 54%;
      }
    }
  }
}
